name: Master Flow

on: 
  push:
    branches: 
      - master


jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Set up JDK
      uses: actions/setup-java@v1
      with:
        java-version: 1.11
    - name: Build with Maven
      env:
        SONAR_LOGIN: ${{ secrets.sonar_login }}
        PR: ${{ github.event.number }}
      run: |
         mvn verify sonar:sonar \
           -Dsonar.projectKey=softwaretalks_jangul \
           -Dsonar.organization=softwaretalks-1 \
           -Dsonar.host.url=https://sonarcloud.io \
           -Dsonar.login=$SONAR_LOGIN
         mvn package
    - name: Dockerize
      run: |
        printenv
        # docker build -t fandoghpaas:
